.body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 80%;
    max-width: 1200px;
    margin: 20px auto; 
    overflow-x: auto;
}

.header {
    background-color: white;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.aling {
    margin-top: 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.align-pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.pagination button {
    background-color: white;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
}

.pagination button[disabled] {
    color: #cccccc;
    cursor: not-allowed;
}

.form-control {
    width: auto;
    margin-left: 10px;
    border: 1px solid #ccc;
    color: #555;
    padding: 5px 10px;
    border-radius: 4px;
}

.btn-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #6c757d;
    padding: 0;
    margin: 0;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn.submit {
    background-color: #fffbcc;
    border: none;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 26px;
    padding: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content,
.dropdown-content:hover {
    display: block;
    opacity: 1;
}

.dropdown:hover .dropbtn {
    background-color: white;
}

@media (max-width: 768px) {
    .align, .align-pagination {
        flex-direction: column;
        align-items: flex-start;
    }

    .pagination {
        width: 100%;
        justify-content: space-between;
    }

    .form-control {
        width: 100%;
    }

    table {
        display: block;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }

    th, td {
        display: inline-block;
        padding: 10px;
    }
}
